﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>御界神紀NEO</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <CENTER>
            <TABLE width="800" bordercolor="white" border="1">
                <TBODY>
                    <TR>
                        <TD>
                            <center>
                                <asp:Image ID="Image1" runat="server" ImageUrl="http://sadinfish.com/fairytale/game/img/game12_top.jpg" />
                                <asp:MultiView ID="MultiView1" runat="server" ActiveViewIndex="0">
                                    <asp:View ID="View1" runat="server">
                                        <P>
                                    
                                            <asp:Label ID="Label2" runat="server" Text="請輸入您的遊戲ID："></asp:Label>
                                    
                                            <BR>
                                            <asp:TextBox ID="tbGameId" runat="server"></asp:TextBox>
                                        </P>
                                        <P> 
                                            <asp:Label ID="Label1" runat="server" Text="請輸入遊戲序號："></asp:Label>
                                            <BR>
                                            <asp:TextBox ID="tbCode" runat="server"></asp:TextBox>
                                        </P>
                                        <P> 
                                            <asp:Button ID="Button1" runat="server" Text="送出" onclick="Button1_Click" />
                                        </P>
                                    </asp:View>
                                    <asp:View ID="View2" runat="server">
                                        <P> 
                                            <asp:Label ID="Label3" runat="server" Text="兌換成功!!"></asp:Label>
                                        </P>
                                        <P> 
                                            <asp:Button ID="Button2" runat="server" Text="返回" onclick="Button2_Click" />
                                        </P>
                                    </asp:View>
                                </asp:MultiView>
                                
                            </center>
                        </TD>
                    </TR>
                </TBODY>
            </TABLE>
        </CENTER>
    </div>
    </form>
</body>
</html>
