﻿<%@ Page Language="C#" MasterPageFile="MasterPage.master" AutoEventWireup="true" CodeFile="cb.aspx.cs" Inherits="cb" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
     <!--  page-wrapper -->
        <div id="page-wrapper">
            <div class="row">
                 <!--  page header -->
                <div class="col-lg-12">
                    <h1 class="page-header">Tables</h1>
                </div>
                 <!-- end  page header -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                     <!--   Basic Table  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Player
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                EXP
                                <asp:TextBox ID="TextBox1" runat="server" Width="100px">0</asp:TextBox>
                            &nbsp; 關卡ID
                                <asp:TextBox ID="TextBox2" runat="server" Width="100px">0</asp:TextBox>
                                <asp:Button ID="Button1" runat="server" Text="查詢" OnClick="Button1_Click" />
                            </div> 
                            <div class="table-responsive">
                                <asp:GridView ID="GridView1" runat="server" Width="1280px">
                                    <RowStyle HorizontalAlign="Center" />
                                </asp:GridView>
                            </div>
                        </div>
                    </div>
                      <!-- End  Basic Table  -->
                </div>
            </div>
            

        </div>
        <!-- end page-wrapper -->
   
</asp:Content>
