﻿<%@ Page Language="C#" MasterPageFile="MasterPage.master" AutoEventWireup="true" CodeFile="transfer.aspx.cs" Inherits="transfer" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
     <!--  page-wrapper -->
        <div id="page-wrapper">
            <div class="row">
                 <!--  page header -->
                <div class="col-lg-12">
                    <h1 class="page-header">帳號救援</h1>
                </div>
                 <!-- end  page header -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                     <!--   Basic Table  -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            玩家查詢
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                查詢類型
                                <asp:DropDownList ID="DropDownList1" runat="server">
                                    <asp:ListItem Value="1">玩家ID</asp:ListItem>
                                    <asp:ListItem Value="2">啟動碼</asp:ListItem>
                                </asp:DropDownList>
                            &nbsp;
                                <asp:TextBox ID="TextBox1" runat="server" Width="100px"></asp:TextBox>
                            &nbsp;
                                <asp:Button ID="Button1" runat="server" Text="生成引繼碼" onclick="Button1_Click" />
                            </div> 
                            <div class="table-responsive">
                                
                                <asp:GridView ID="GridView1" runat="server" Width="1280px" >
                                    <RowStyle HorizontalAlign="Center" />
                                </asp:GridView>
                                
                            </div>
                        </div>
                    </div>
                      <!-- End  Basic Table  -->
                </div>
            </div>
            

        </div>
        <!-- end page-wrapper -->
   
</asp:Content>
